#about .sectionInfo {
    text-align: left;
    align-items: start;
}
#about .sectionInfo span {
    color: var(--theme-clr);
    font-weight: 800;
}
#about .sectionInfo p {
    max-width: 700px;
    text-align: left;
}

#about .txtContain ul {
    padding: 0px;
    list-style-type: none;
}

#about .txtContain .secTitle {
    font-size: 1.9em;
}

#about>.container .container {
    flex-direction: column-reverse;
    gap: 20px;
}

#about>.container .container .noPad:last-child {
    display: flex;
    display: -webkit-flex;
    display: -ms-flexbox;
    flex-wrap: wrap;
    -ms-flex-wrap: wrap;

    align-items: center !important;
    -ms-flex-align: center !important;
    -webkit-box-align: center !important;
    justify-content: center !important;
    -ms-flex-pack: center !important;
    -webkit-box-pack: center !important;
    align-content: center !important;
    flex-direction: column;
    padding: 40px 0px !important;
}

#about .card.logo {
    position: relative;
    width: 100%;
    box-shadow: none;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    background-color: transparent;
}
#about .card.logo::before {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    background-color: var(--theme-clr);
    border-radius: var(--round-conners);
    transform: rotate3d(1, 1, 1, 13deg);
}

#about .cardImg img {
    width: 100%;
}

.reasons li {
    display: flex;
    margin-bottom: 28px;
    gap: 10px 10px;
    align-items: center;
}
.reasons li .title {
    font-size: 1.2em;
}
.reasonIcon {
    width: 50px;
    height: 50px;
    background-color: var(--theme-clr);
    border-radius: 50%;
}
.reasonIcon img {
    transform: scale(0.6);
}

@media screen and (min-width: 860px) {
    #about>.container .container {
        flex-direction: row;
        gap: 0px 30px;
    }

    #about>.container .container>div {
        width: 50%;
    }
    #about>.container .container>div:nth-child(2) {
        align-items: start !important;
        align-content: start !important;
    }

    #about .card.logo {
        position: relative;
        width: 494.09px;
        height: 575.99px;
    }
    #about .card.logo::before {
        width: 100%;
        height: 586px;
    }

    .reasons li {
        gap: 10px 50px;
    }
    .reasonIcon {
        width: 70px;
        height: 70px;
    }
    .reasonIcon img {
        transform: scale(1);
    }
}